fastapi
uvicorn
loguru
pydantic
starlette
httpx
streamlit
langchain
langchain-openai
faiss-cpu
langchain-community
langgraph
python-dotenv
pandas
graphviz
rich
tiktoken
docling
langchain-docling
redis
mem0ai
tabulate
pypdf
